@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #000000;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-montserrat);
}
.perspective {
	perspective: 1000px;
}
.transform-style {
	transform-style: preserve-3d;
}
.backface-hidden {
	backface-visibility: hidden;
}
.rotate-y-180 {
	transform: rotateY(180deg);
}
